
/*TEXTO CARDS*/
.h1_{
    color: #DC9A00;
    text-align: center;
    text-decoration: none;
    margin-top: -100px;

  }

  .p_{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
  }


  /*BACK*/
  .back{

    background-color: #363636;
    margin-top: -109px;
    margin-left: -48px;  
    margin-right: -48px;
    font-size: 50px;
    text-align: center;
    color: #DC9A00;
  }
  .back:hover{
    background-color: #555555;
    transition-delay: 0.1s;
  }

