


/** FONTS */

@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');


/*TEXTO CARDS*/
.h1_{
    color: #DC9A00;
    text-align: center;
    text-decoration: none;
    margin-top: -100px;

  }

  .p_{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
  }


  /*BACK*/
  .back{

    background-color: #363636;
    margin-top: -109px;
    margin-left: -48px;  
    margin-right: -48px;
    font-size: 50px;
    text-align: center;
    color: #DC9A00;
  }
  .back:hover{
    background-color: #555555;
    transition-delay: 0.1s;
  }

  /*WELCOME*/
  .imgHome {
    text-align: center;
  }

  .titulo {
    margin-top: 80px;
    text-align: center;
    color: black;
    font-size: 5em;
    font-family: 'Passion One', cursive;
  }

  .st {
    text-align: center;
    color: black;
    font-size: 5em;
    font-family: 'Passion One', cursive;
  }

  .logo{
    text-align: center;
  }


  /*RESPONSIVO*/  

/*
  @media screen and (max-width: 480px){

  
  .titulo{
    font-size: 20px;  
    font-family: 'Passion One', cursive;
    text-align: center;
  }

  .st {
    font-size: 20px;
    text-align: center;
    font-family: 'Passion One', cursive;
  }

*/
